<div id="current">{{{currentUser}}}</div><p>
<div id="users">
{{#each users}} - {{username}}{{else}} - no users{{/each}} - 
</div>
<p>

<h1>twot</h1>

<form id="newTwot" action="addTwot" method="POST">
	twot: <input type="text" id="inputTwot"> <input type="submit" value="TWOT">
</form>

<div id="allTwots">
	{{#each allTwots}}
		<form class="twotForm" id="{{_id}}" action="delete" method="POST">
			<div class="twot">
				<span id="tw">@{{username}}: {{twot}}</span>
				<input type="submit" value="DELETE">
			</div>
		</form>
	{{/each}}
</div>